body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  color: #444;
}

.header {
  padding: 1em;
  margin: 1em;
  border: 5px solid gainsboro;
  border-radius: 5px;
  background-color: lightsteelblue;
  text-align: center;
}

.list {
  list-style: none;
  margin: 0% 5%;
}

.card {
  float: left;
  padding: 1em;
  margin: 0.4em;
  width: 30%;
  height: 14em;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: #eeeeef;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.card a {
  color:inherit;
  text-decoration: none;
}

.footer {
  padding: 1em;
  margin: 1em;
  border: 5px solid gainsboro;
  border-radius: 5px;
  background-color: lightsteelblue;
  text-align: center;
  clear: both;
}

.footer a {
  color: inherit;
}

.article-view {
  margin: 4% 10%;
  padding: 3%;
  border: 1px solid gainsboro;
}

.article-view p {
  text-align: justify;
}

p.right {
  text-align: right;
}

.back-btn {
  margin-left: 1em;
  padding: 0.7em;
  color:inherit;
  text-decoration: none;
  border: 1px solid gainsboro;
  background-color: #51b644;
}
